/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #87CEEB; /* Sky blue */
  color: #333;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #87CEEB; /* Sky blue */
    background-image: url('./home_bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

.header {
  text-align: center;
  margin-top: 40px;
}

.header h1 {
  font-size: 76px;
  font-weight: 700;
}

.header h2 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
}

.button-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generate-button {
  padding: 20px 40px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate-button:hover {
  background-color: #555;
}
